# dependencies
node_modules/
package-lock.json
yarn.lock

# env files
.env

# production build
build/
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor directories and files
.vscode/
.idea/
.DS_Store
*.njsproj
*.sln
*.sw?
